.proveedor-card {
  background-color: #0ea5e9; /* Fondo azul para las tarjetas */
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

[data-theme="dark"] .proveedor-card {
  background-color: #059669;
}

.proveedor-card:hover {
  transform: scale(1.05);
}
.proveedores-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
  height: 100vh;
}

.proveedor-details {
  margin-top: 1rem;
}

.proveedor-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.proveedor-phone,
.proveedor-address {
  margin: 0.5rem 0;
}

.proveedor-inactive {
  opacity: 0.5;
}

.proveedor-page-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  height: 100vh;
  box-sizing: border-box;
}

.proveedores-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.proveedores-title {
  font-size: 2rem;
  font-weight: bold;
}

.add-proveedor-button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: var(--primary-color, #007bff);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 10px;
}

.add-proveedor-button:hover {
  background-color: var(--primary-color-hover, #0056b3);
}

.proveedores-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

.proveedor-card-wrapper {
  position: relative;
}

.proveedor-card-actions {
  display: flex;
  justify-content: space-between; /* Distribuye los botones */
  align-items: center;
  gap: 1rem; /* Agrega un espacio entre los botones */
}

.edit-proveedor-button {
  background-color: rgb(55, 55, 255);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 3%; /* Si quieres separar aún más el botón de editar */
}

.edit-proveedor-button:hover {
  background-color: darkblue;
}

.delete-proveedor-button {
  background-color: rgb(253, 25, 25);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-proveedor-button:hover {
  background-color: rgb(172, 2, 2);
}

.proveedores-header-buttons {
  display: flex;
  gap: 1rem;
}

.report-proveedor-button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.report-proveedor-button:hover {
  background-color: darkorange;
}

.search-bar-proveedor{
  max-width: 500px;
  margin: 20px;
  border: 2px solid #e0e0e0; 
  border-radius: 5px; 
  padding: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease
}
.search-bar-proveedor::placeholder {
  color: rgb(6, 0, 26); /* o usa un color personalizado como #800080 */
  opacity: 1; /* para que se vea bien en todos los navegadores */
}